
<app-menu></app-menu>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://s.aficionados.com.br/imagens/captura-de-ecra-2019-11-20-a-s-15-59-07_cke.jpg..." class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block bg bg-dark">
        <h5 >N1° Oozaru</h5>
        <p >Esta foi a primeira transformação que vimos Goku utilizar, pois até lá não fazíamos ideia de que o Saiyajin era capaz de utilizar este tipo de técnica.</p>
      </div>
    </div>


    <div class="carousel-item">
      <img src="https://s.aficionados.com.br/imagens/gokukaio-kenvsvegetanv_cke.jpg ..." class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block bg bg-dark">
        <h5  >N2º Kaioken</h5>
        <p  >O Kaioken é uma técnica inventada pelo King Kai, apesar disso Goku é o único capaz de a dominar por completo. Na sua forma base, o Kaioken duplica o poder de Goku!</p>
      </div>
    </div>


    <div class="carousel-item">
      <img src="https://s.aficionados.com.br/imagens/6789776-9787278998-cb78d_cke.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block bg bg-dark">
        <h5>N3º Super Saiyajin Falso</h5>
        <p>Apesar de ser uma transformação super interessante, esta forma não é considerada cânone tendo apenas aparecido no filme Dragon Ball Z: Goku, O Super Saiyajin.</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="https://s.aficionados.com.br/imagens/dragon-ball-z-super-saiyan-goku_cke.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block bg bg-dark">
        <h5>N4° Super Saiyajin</h5>
        <p>A forma Super Saiyajin é uma das mais icônicas de toda a franquia Dragon Ball e foi responsável por mudar a forma como olhamos para os Saiyajins para sempre.</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="https://s.aficionados.com.br/imagens/main-qimg-da18e0eed0ddb590668d3dd2a1059224.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block bg bg-dark">
        <h5>N5º Super Saiyajin de Terceiro Grau</h5>
        <p>Esta transformação foi provavelmente a menos utilizada por Goku. Esta é a primeira derivação da transformação Super Saiyajin, só alcançada após imenso treino por parte do protagonista da franquia.</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="https://s.aficionados.com.br/imagens/thumb-1920-879951_cke.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block bg bg-dark">
        <h5 >N6° Super Saiyajin 2</h5>
        <p>Apesar de visualmente ser muito parecida com a transformação Super Saiyajin, esta é uma evolução e com um nível de poder completamente diferente.</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="https://s.aficionados.com.br/imagens/funko-pop-dragon-ball-z-super-saiyan-3-goku-492-nuevo-d-nq-np-812883-mla29350084353-022019-f_cke.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block bg bg-dark">
        <h5 >N7° Super Saiyajin 3</h5>
        <p>Apesar de visualmente ser muito parecida com a transformação Super Saiyajin, esta é uma evolução e com um nível de poder completamente diferente.</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="https://s.aficionados.com.br/imagens/dragon-ball-golden-apesuper-saiyan-oozaru_cke.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block bg bg-dark">
        <h5 >N8º. Oozaru Dourado</h5>
        <p>Outra transformação que não é cânone em Dragon Ball é a Oozaru Dourado. Basicamente esta foi uma forma que Goku conseguiu atingir em Dragon Ball GT.</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="https://s.aficionados.com.br/imagens/goku-ssj4-dbh-1119497-640x320_cke.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block bg bg-dark">
        <h5 >N9º. Super Saiyajin 4</h5>
        <p>Por falar em transformações que não são cânones e que pertencem a Dragon Ball GT, não poderíamos deixar a Super Saiyajin 4 de fora!</p>
      </div>
    </div>


    <div class="carousel-item">
      <img src="https://s.aficionados.com.br/imagens/8033b660276f0a25cb9f1d8ab18e3aae9c575466r1-1400-700v2-uhq_cke.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block bg bg-dark">
        <h5 >N10º Super Saiyajin Deus</h5>
        <p>Assim que Dragon Ball Super surgir, novas transformações entraram para o cânone da franquia, algo que não acontecia desde a Super Saiyajin 3 que estreou em Dragon Ball Z.</p>
      </div>
    </div>

    
    <div class="carousel-item">
      <img src="https://s.aficionados.com.br/imagens/clabm2l3mg6ij4anv5hu_cke.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block bg bg-dark">
        <h5 >N11º. Super Saiyajin Azul</h5>
        <p>Uma vez dominada a Super Saiyajin Deus, Goku pode combinar esta transformação com a forma Super Saiyajin. O resultado dessa mistura? A Super Saiyajin Azul, também conhecida por Super Saiyajin Deus Super Saiyajin.</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="https://s.aficionados.com.br/imagens/afa3d3a21cefd413ce1899d4f205db4b_cke.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block bg bg-dark">
        <h5 >N12º Super Saiyajin Azul Kaioken</h5>
        <p>Com esta combinação Goku conseguiu levar os seus níveis de poder para um patamar verdadeiramente absurdo! Assim que atinge a forma Super Saiyajin Azul, o protagonista de Dragon Ball é capaz de a combinar com a técnica Kaioken.</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="https://s.aficionados.com.br/imagens/67f5c76d8d8714428f87bba7bd75a8a0e1367260v2-hq_cke.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block bg bg-dark">
        <h5 >N13º. Instinto Superior Incompleto </h5>
        <p>Esta é basicamente (como o nome indica) a forma incompleta da técnica Instinto superior. Antes de Goku conseguir aceder a todo o potencial desta técnica ele demonstrava o seu aumento do poder através transformação.</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="https://s.aficionados.com.br/imagens/maxresdefault-90_cke.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block bg bg-dark">
        <h5 >N14º Instinto Superior Dominado</h5>
        <p>Assim que Goku consegue dominar a Instinto Superior o melhor é mesmo sair do seu caminho! Nesta forma, Goku fica praticamente invencível..</p>
      </div>
    </div>
    
  </div>


  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  


  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>