<app-menu></app-menu>

<div class="card" style="width: 18rem;">
  <img src="https://img.quizur.com/f/img5c884840a62cc9.48055575.jpg?lastEdited=1552435268" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">oi eu sou o goku</h5>
    <p class="card-text">Vamos ver as transformações que eu consegui fazer.</p>
    <a href="goku-ss" class=" btn btn-primary " >haaaaaaaaaaaaaaaa</a>
  </div>

  <img src="https://img.quizur.com/f/img5c884840a62cc9.48055575.jpg?lastEdited=1552435268" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">oi eu sou o goku</h5>
    <p class="card-text">Vamos ver as transformações que eu consegui fazer.</p>
    <a href="goku-ss" class=" btn btn-primary " >haaaaaaaaaaaaaaaa</a>
  </div>
</div>